<div class="margin-top">
    <button class="button-200 primary-button" (click)="openNewRequestModal()">New Request</button>
</div>

<snap-lightbox-container>
    <snap-light-box boxId="new-request-modal" boxTitle="New Request" boxType="right" rightClass="col-xs-16 col-sm-12 col-md-9 col-lg-8">
        <template>
            <new-request
                modalId="new-request-modal"
                [formId]="'592dc2ea59e86c0c72bacf06'">
            </new-request>
        </template>
    </snap-light-box>
</snap-lightbox-container>